.banner {
background-image: url(../../images/pedradagav.jpg);
background-size: cover;
background-position: center;
text-align:center;
padding: 100px;
justify-content: center;
color:white;
}

.banner p{
  text-shadow: 1px 1px 2px grey;
  font-size: 20px;
  font-weight: bold;
}


.banner h1{
  text-shadow: 1px 1px 2px black;
  font-size: 50px;
}

